@for $i from 1 through $max-fontsize-available {
  $fontsize: $i;
  .my-font-#{$fontsize} {
    font-size: $fontsize + 0px;
  }
}

@for $i from 1 through 6 {
  $fontweight: $i * 100;
  .my-weight-#{$fontweight} {
    font-weight: $fontweight;
  }
}

@for $i from 1 through 12 {
  $width: calc(($i / 12) * 100);
  .my-width-#{$i} {
    width: $width + 0%;
  }
}

@for $i from 1 through $max-clamp {
  .my-clamp-#{$i} {
    display: -webkit-box;
    line-clamp: $i;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif!important;
  font-size: 16px;
  scrollbar-width: none!important;
  ::-webkit-scrollbar {
    display: none!important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.w-full {
  width: 100%!important;
}

.h-full {
  height: 100%!important;
}

.cursor-pointer {
  cursor: pointer!important;
}

.text-primary {
  color: $primary-color!important;
}

.text-primary-darken {
  color: $primary-color-darken!important;
}

.text-primary-lighten {
  color: $primary-color-lighten!important;
}